{{ template "header.html" . }}

<a href="/">Back to Agents List</a>

<style>
    td {
        padding: 5px
    }
</style>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<hr/>

<table>
    <tr>
        <td valign="top">
            <h3>Agent</h3>
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <td>Instance ID:</td><td>{{ .InstanceId }}</td>
                </tr>
                {{if .Status.Health }}
                <tr>
                    <td>Up:</td><td>{{ .Status.Health.Up }}</td>
                </tr>
                {{if .Status.Health.LastError }}
                <tr>
                    <td></td><td><span style="color:red">{{ .Status.Health.LastError }}</span></td>
                </tr>
                {{end}}
                {{if .Status.Health.Up }}
                <tr>
                    <td>Up since:</td><td>{{ .StartedAt }}</td>
                </tr>
                {{end}}
                {{end}}
            </table>
        </td>
        <td valign="top">
            <h3>Attributes</h3>
            <table border="1" style="border-collapse: collapse">
                {{ range .Status.AgentDescription.IdentifyingAttributes }}
                </tr>
                <td>{{ .Key }}</td><td>{{ .Value }}</td>
                </tr>
                {{ end }}
                {{ range .Status.AgentDescription.NonIdentifyingAttributes }}
                </tr>
                <td>{{ .Key }}</td><td>{{ .Value }}</td>
                </tr>
                {{ end }}
            </table>
        </td>
    </tr>
</table>

<hr/>

<h3>Configuration</h3>
<table width="100%">
    <tr>
        <td valign="top">
            Current Effective Configuration:<br/>
            <pre><code class="language-yaml">{{ .EffectiveConfig }}</code></pre>
        </td>
        <td valign="top">
            Additional Configuration:<br/>
            <form action="/save_config" method="post">
            <input type="hidden" name="instanceid" value="{{ .InstanceId }}"/>
            <textarea cols="40" rows="20" name="config">{{ .CustomInstanceConfig }}</textarea><br/>
             {{if .Status.RemoteConfigStatus }}
                {{if .Status.RemoteConfigStatus.ErrorMessage }}
                <span style="color:red">Failed: {{ .Status.RemoteConfigStatus.ErrorMessage }}</span><br/>
                {{end}}
             {{end}}
            <input type="submit" value="Save and Send to Agent"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
