version: '3.8'

services:
  opamp-server:
    build:
      context: ../..
      dockerfile: internal/examples/Dockerfile.server
      network: host
    container_name: opamp-server
    network_mode: host
    restart: unless-stopped

  opamp-agent:
    build:
      context: ../..
      dockerfile: internal/examples/Dockerfile.agent
      network: host
    network_mode: host
    entrypoint:
      - "./agent"
      - "--endpoint"
      - "wss://localhost:4320/v1/opamp"
      - "--tls-insecure_skip_verify"
    depends_on:
      - opamp-server
    restart: unless-stopped
    deploy:
      replicas: 1

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    network_mode: host
    command: ["--config=/etc/otelcol/config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml
    depends_on:
      - opamp-server
    restart: unless-stopped
