services:
  opamp-server:
    build:
      context: ../..
      dockerfile: internal/examples/Dockerfile.server
    container_name: opamp-server
    ports:
      - "4320:4320"
      - "4321:4321"
    networks:
      - opamp-network
    restart: unless-stopped

  opamp-agent:
    build:
      context: ../..
      dockerfile: internal/examples/Dockerfile.agent
    container_name: opamp-agent
    entrypoint:
      - "./agent"
      - "--endpoint"
      - "wss://opamp-server:4320/v1/opamp"
      - "--tls-insecure_skip_verify"
    networks:
      - opamp-network
    depends_on:
      - opamp-server
    restart: unless-stopped

  opamp-scale:
    build:
      context: ../..
      dockerfile: internal/examples/Dockerfile.scale
    container_name: opamp-scale
    environment:
      SCALE_AGENT_COUNT: "${SCALE_AGENT_COUNT:-1000}"
    networks:
      - opamp-network
    profiles:
      - scale
    depends_on:
      - opamp-server
    restart: unless-stopped

networks:
  opamp-network:
    driver: bridge
